@model IEnumerable<Dtos.MessageOutDto>
@{
    ViewData["Title"] = "Message History";
}

<h1>Message History</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="start">Start Date:</label>
        <input type="datetime-local" id="start" name="start" class="form-control" required value="@DateTime.UtcNow.AddMinutes(-10).ToString("yyyy-MM-ddTHH:mm:ss")" />
    </div>
    <div class="form-group">
        <label for="end">End Date:</label>
        <input type="datetime-local" id="end" name="end" class="form-control" required value="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm:ss")" />
    </div>
    <button type="submit" class="btn btn-primary">Fetch Messages</button>
</form>

<ul>
    @foreach (var message in Model)
    {
        <li>Id(@message.Id)  Date(@message.Date) SerialNumber(@message.SerialNumber): @message.Content</li>
    }
</ul>
